.logo {
    display: flex;
    align-items: center;
    padding: 18px 0 10px 27px;
    color: white;
}

.logo span {
    display: flex;
}

.logo h6 {
    margin: 5px 0 0 10px;
}

.table-footer {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 65px  5px;
}